footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background: #464547;
  padding: 39px 0px 0px 0px;
}
.footerContent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;  
}
.footerProject{
  margin: -15px 81px 0px 0px;
}
.footerProjectTitle{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footerColumns{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px 0px 78px 0px;
}
.footeraddress{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  margin: 0px 286px 0px 0px;
}
.address{
  margin: 0px 0px 27px 0px;
}
.rights{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}