.headerBc{
  /* background-image: url(/assets/media/Background.png); */
  background-color: #697CA6;
}
.logo{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  /* margin: 0px 100px 0px 0px; */
}
.navbar{
  padding: 27px 117px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 0px 0px 0px -200px; */
}
.navLinks{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
a:hover{
    border-bottom: 2px solid #FFFFFF;
}
li{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0px 32px;
  margin: 0px 0px 6px 0px;
}
.headerContent{
  flex-direction: column;
  justify-content: center;
  padding: 203px 0px 256px 0px;
}
.headerLogo{
  width: 100px;
  height: 100px;
}
.headerTitle{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  margin: 13px 0px 42px 0px;
}
.headerText{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

@media only screen  and (max-width: 493px){
  .navbar{
      display: none;
    }
}