.section1Content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1Title{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
  margin: 88px 0px 39px 0px;
}
.section1Subtitle{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}
.section1Columns{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 45px 0px 0px 0px;
}
.column1, .column2{
  width: 408px;
  height: 172px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}
.column1{
  margin: 0px 83px 0px 0px;
}
.section1btn{
  background: #55C2D8;
  border-radius: 18px;
  padding: 5px 18px;
  margin: 46px 0px 98px 0px;
}
@media only screen  and (max-width: 493px){
  .section1Columns{
    flex-direction: column;
  }
}