.section2{
  /* background-image: url(/assets/media/Learn-more__bc.png); */
  background-color: #92d1dd;
}
.section2Content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section2Title{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  margin: 80px 0px 63px 0px;
}
.section2Text{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  margin: 54px 0px 86px 0px;
}