@import "_fonts.css";
@import "_header.css";
@import "_footer.css";
@import "_section1.css";
@import "_section2.css";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1140px;
  margin: auto;
}





