$color-red: #ff0000;

header {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header {
    height: 30rem;

    &__heading {
        color: $color-red;
    }
}

.nav {
    &__menu {
        color: green;

    }

    &__menu-item {
        font-size: 2rem;
    }
}
